<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách thành viên</title>
</head>
<body>
<h1>Danh sách thành viên</h1>
<a href="/add"><button>Thêm</button></a>
<table border="1">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Company</th> <!-- Thêm cột hiển thị Company -->
        <th>Action</th>
    </tr>
    <tr th:each="user : ${listUsers}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.company != null ? user.company.companyName : 'No company'}"></td> <!-- Hiển thị tên công ty -->
        <td>
            <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
